// Media Query Mixin
@mixin breakpoint ($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  background-image: url('CODING 3.jpeg');
  background-size: cover;
  background-position: center;

  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(34, 34, 34, 0.5);
  }

  .content {
    position: relative;
    z-index: 1;

    h1 {
      color: #FFF;
      font-size: 28px;
      font-weight: 900;

      span {
        font-weight: 400;
      }

      @include breakpoint(480px) {
        font-size: 36px;
      }
      @include breakpoint(768px) {
        font-size: 42px;
      }
      @include breakpoint(1024px) {
        font-size: 56px;
      }
      @include breakpoint(1280px) {
        font-size: 72px;
      }
    }

    h2 {
      color: #FFF;
      font-size: 42px;
      font-weight: 900;
      margin: 30px 0px;

      @include breakpoint(480px) {
        font-size: 56px;
      }
      @include breakpoint(768px) {
        font-size: 72px;
      }
      @include breakpoint(1024px) {
        font-size: 96px;
      }
      @include breakpoint(1280px) {
        font-size: 128px;
      }
    }

    .countdown {
      color: #FFF;
      font-size: 36px;
      font-weight: 400;

      @include breakpoint(480px) {
        font-size: 42px;
      }

      @include breakpoint(768px) {
        font-size: 56px;
      }

      @include breakpoint(1024px) {
        font-size: 72px;
      }

      @include breakpoint(1280px) {
        font-size: 88px;
        * {
          box-sizing: border-box;
        }
        
        /* Style inputs */
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        input[type=submit] {
          background-color: #04AA6D;
          color: white;
          padding: 12px 20px;
          border: none;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        /* Style the container/contact section */
        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 10px;
        }
        
        /* Create two columns that float next to eachother */
        .column {
          float: left;
          width: 50%;
          margin-top: 6px;
          padding: 20px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .column, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
          *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
          }
          .container{
            width: 100%;
            height: 100vh;
            background: #141a34;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .useful-links{
            position: absolute;
            top: 5%;
            right: 5%;
          
          }
          .useful-links a{
            display: block;
            color: #fff;
            text-decoration: none;
          }
          
          .container form{
            width: 90%;
            max-width: 500px;
            padding: 50px 30px 20px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
            position: relative;
          }
          .fa-paper-plane{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #fff;
            font-size: 26px;
            padding: 20px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          }
          
          .input-group{
            width: 100%;
            display: flex;
            align-items: center;
            margin: 10px 0;
            position: relative;
          }
          .input-group label{
            flex-basis: 28%;
          }
          .input-group input, .input-group textarea{
            flex-basis: 68%;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 10px 0;
            border-bottom: 1px solid #999;
            color: #333;
            font-size: 16px;
          }
          ::placeholder{
            font-size: 14px;
          }
          
         
          }
        }
      }
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	background: url(../images/1.jpg);
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #c31432;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}
